requests
colorama
twilio
PySocks
# pynput # Agar aap Keylogger tool add karte hain jo pynput use karta hai
# python-whois # Agar aap WHOIS Lookup tool add karte hain
# dnspython # Agar aap DNS Lookup tool add karte hain
# beautifulsoup4 # Agar aap Web Crawler ya Website Tech Detector add karte hain
# cryptography # Agar aap File Encryptor add karte hain
# speedtest-cli # Agar aap Network Speed Test tool add karte hain